.alert-wrapper {
  height: auto;
  position: fixed;
  bottom: 20px;
  pointer-events: none;
  // width: 50%;
  z-index: 1000;
}
.alert {
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0;
  opacity: 0.8;
  background-color: var(--light-color);
  // position: absolute;
  // bottom: 20px;
  // left: 20px;
  color: #333333;
  border-radius: 5px;
  &.alert-light {
    background-color: var(--light-color);
    color:#ffffff;
  }
  &.alert-dark {
    background-color: var(--dark-color);
    color:#ffffff;
  }
  &.alert-primary {
    background-color: var(--primary-color);
    color:#ffffff;
  }
  &.alert-danger {
    background-color: var(--danger-color);
    color:#ffffff;
  }
  &.alert-success {
    background-color: var(--alert-success);
    color:#ffffff;
  }
  &.alert-white {
    background-color: #ffffff;
    color: #333333;
    border: #cccccc solid 1px;
  }
}