.form-page-wrapper {
  padding: 2.5rem 0rem 0rem;
}
.form-container {
  height: auto;
  margin: 0 auto;
}
.form {
	width: 100%;
	height: auto;
	overflow: hidden;
  margin: 2rem auto;
  background-color: var(--bg-panel);
  padding: 1rem 0 0.5rem;
  border-radius: 5px;
  .req-color {
    color:  rgb(252, 75, 104);
  }
  .file-btn-input {
    background-color: var(--color-navbar-a);
    cursor: pointer;
    border: 1px solid var(--color-navbar);
    border-radius: 6px;
    &::file-selector-button { // firefox
      visibility: hidden;
      // color: white;
      padding: 0px 0px 0px 16px;
      // border-radius: 2px;
      // border: 2px dashed yellow;
      // background-color: none;
    }
    &::-webkit-file-upload-button { // chrome / edge
      visibility: hidden;
      // color: var(--color-navbar);
      // padding: 6px 6px;
      // border-radius: 6px;
      // box-shadow: none;
      // border: 1px solid var(--color-navbar);
      // background-color: transparent;
      // background-color: none;
    }
    &.file-slim {
      padding: 9px 0 8px;
    }
  }
  .file-btn-label {
    height: 100%;
    width: 75px;
    font-size: 14px;
    text-align: center;
    padding-top: 14px;
    pointer-events: none;
    border: 1px solid var(--color-navbar);
    border-radius: 6px 0 0 6px;
    background-color: var(--bg-panel);
    margin: 0;
    position: absolute;
    z-index: 400;
    left: 0;
    &.file-slim {
      padding: 10px;
    }
  }
  &__header { padding: 0 1rem;}
  // &__inner-container {
    // display: flex;
    // justify-content: center;
  // }
  &__footer {
    padding: 1rem 1rem 0.5rem;
    p {
      margin-top: 1.4rem;
    }
  }
  &__section {
    width: 100%;
    padding: 0rem 1rem;
  }
  &__group {
    position: relative;
    margin: 1rem 0 0.2rem;
    overflow: hidden;
    &.background-img-mrg-sm {
      margin-top: 22px;
    }
    &.select-spacer {
      margin: 1.4rem 0 0.2rem;
    }
    &.bio-input {
      margin-top: 24px;
      padding: 0 1rem;
      margin-bottom: -16px;
    }
    select {
      appearance: none;
      background-color: var(--bg-primary);
      // border: 1px solid var(--color-navbar);
      border: none;
      border-radius: 5px;
      color: var(--color-text);
      padding: 0.2rem;
      // A reset of styles, including removing the default dropdown arrow
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
    }
    textarea {
      box-shadow: none;
      color: var(--color-text);
      border: none;
      margin-top: 0.4rem;
      background-color: var(--bg-primary);
      width: 100%;
      padding: 0.6rem 0.5rem;
      border-radius: 5px;
      resize: none;
      font-family: inherit;
      outline: none;
    }
    input {
      box-shadow: none;
      color: var(--color-text);
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
      padding-top:23px;
      background-color: transparent;
      // opacity: 0;
      // border: 1px solid #fff;
      // margin: 6px;
      // height: 32px;
      // border-radius: 20px;
      // padding: 0 10px;
      // outline: none;
      // text-align: center;
      // color: #fff;
      &::placeholder {
        // visibility: hidden;
        position: absolute;
        left: 8px;
        opacity: 0;
      }
      &:focus {
        &::placeholder {
          font-style: italic;
          opacity: 1;
        }
        + {
          .form__label { 
            .form__label-name {
              transform: translateY(-90%);
              font-size: 0.9rem;
              color: var(--color-form-label);            
            }
            &::after {
              transform: translateX(0%);
            }
          }
        }
      }
      &:not(:placeholder-shown) {
			  + {
  				.form__label {
	  				.form__label-name {
		  				transform: translateY(-90%);
			  			font-size: 0.9rem;
				  		//*** color: var(--color-form-label);
				  		color: var(--color-navbar);
					  }
	  				&::after {
		  				transform: translateX(0%);
			  		}
				  }
			  }
		  }
      &:required:invalid ~ label .form__label-name {
        color: rgb(252, 75, 104);
      }
      &:required:valid ~ label .form__label-name {
        color: rgb(34, 185, 34);
      }
    }
  }
  &__alt-label {
	  pointer-events: none;
  }
  &__label {
  	position: absolute;
  	bottom: 0px;
	  left: 0%;
	  width: 100%;
	  height: 100%;
	  pointer-events: none;
	  border-bottom: 1px solid var(--color-navbar-2);
    &::after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: -1px;
      height: 100%;
      width: 100%;
      border-bottom: 3px solid var(--color-navbar-2);
      transform: translateX(-100%);
      transition: transform 1s ease;
    }
  }
  &__label-name {
    position: absolute;
  	bottom: 5px;
	  left: 0px;
    transition: all 0.3s ease;
    // &--above {
      // margin-bottom: 0.5rem;
    // }
  }
  &__label-desc {
    font-size: 0.6rem;
    top: 2px;
    position: absolute;
    padding-left: 3px;
    white-space: nowrap;
  }
  &__label-logo {
    // font-size: 0.38rem;
    // top: 4px;
    font-size: 0.5rem;
    top: 1px;
    position: absolute;
    padding-left: 8px;
    white-space: nowrap;
  }
  &__input-desc {
    font-size: 0.75rem;
    opacity: 0.8;
    font-style: italic;
  }
  &__toggle-btn {
    // margin: 2rem 0 1rem;
    margin: 1rem 0 0;
  }
  &__footer {
    padding: 1rem 1rem 1rem;
  }
  &__submit {
    // margin: 0 0 0 0;
    // width: 100%;
    color: var(--color-logo);
  }
  &__link {
    color: var(--color-link);
    text-decoration: underline;
    padding: 0;
  }
}

// for desktop
@media (min-width: 820px) {
  .form-page-wrapper {
    padding: 3.5rem 0rem 0rem;
  }
  // .form-container {
    // height: auto;
    // margin: 0 auto;
  // }
  .form {
    width: 100%;
    padding: 1rem 0 0.5rem;
    &__group {
      &.bio-input {
        margin-bottom: 0
      }
      &.background-img-mrg-sm {
        margin-top: 16px;
      }
    }
    &__toggle-btn {
      margin: 1rem 0 1.66rem;
    }
    &__inner-container {
      display: flex;
      justify-content: center;
    }
  }
}